/* ----------------------
   VARS
  ------------------------ */
:root {
    --bg-color: #f0f4f8;
    --card-bg: #ffffff;
    --primary-dark: #19192A;
    --text-primary: #333;
    --text-secondary: #777;
}

/* --------------
   reset + fonte
   ------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* -------------------------
   body
   -------------------------    */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/ondas.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px; /* Evita que o conteúdo encoste na borda */
}

/* -----------------
   Container
   --------------- */
.container {
    width: 100%;
    max-width: 800px; 
    background-color: rgba(255, 255, 255, 0.05); /* Levemente transparente */
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 60px; 
    color: white;
    padding: 60px 80px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); /* blur */
}

.container h1 {
    font-size: 50px;
    text-align: left;
    line-height: 1.2;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Sombra */
}

.container p {
    text-align: left;
    margin-top: 16px;
    color: #f0f0f0;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.container a {
    text-align: center;
    margin-top: 40px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: inline-block; /* link no espaço correto */
    width: 100%;
}

/* --------------------
   Botão
   -------------------- */
.login {
    width: 100%;
    max-width: 300px; /* Limita a largura do botão */
    height: 55px;
    background-color: white;
    border: 2px solid white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: var(--primary-dark); /*cor padrão */
    font-weight: 700;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    transition: all 0.4s ease;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    color: white;
    transform: translateY(-3px); /* up effect */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* ------------------
   Responsividade
   ------------------ */
@media (max-width: 768px) {
    .container {
        padding: 40px 30px;
        border-radius: 40px;
    }

    .container h1 {
        font-size: 36px;
        text-align: center; /* centraliza no celular */
    }

    .container p {
        font-size: 18px;
        text-align: center; /* centraliza no celular */
    }

    .login {
        max-width: 100%; 
    }
}